html { 
    background: url(https://wallpapercave.com/wp/wp4872974.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: "Bebas_Neue variant0", Tofu;
}
* {
    margin-right: 0px;
    margin: 0px;
    margin-bottom: 1%;
}



/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */




/* Couleur du fond */
.topnav {
    position: relative;
    background-color: #c5e5ff88;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s; /* Animation */
}

.topnav img{
    transition: transform .2s; /* Animation */
}



/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



/* Style the links inside the navigation bar */
/* La couleur quand la souris passe dessus */
.topnav a {
    box-shadow: inset 0 0 0 0 #f5cda775;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    box-shadow: inset 30vmax 0 0 0 rgba(250, 186, 127, 0.568);
    color: white;
}



#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }

#nav-img:hover{
    transition: none;
    box-shadow: none;
}

/* Ajouter une couleur quand actif */
.topnav a.active {
  background-color: #04aa6d00;
  color: white;
}



/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



div#topics{
    background-color: white;
    color: rgb(0, 0, 0);

}


#block1{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.topics{
    box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    -webkit-box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    -moz-box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    transition: transform .2s; /* Animation */


    width: auto;
    height: auto;
    background-color: #d3f4fcc2;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 3px solid #0082A3;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Afficher le contenu en colonne */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */
}
.topics img{
    width: 30%;
    margin-top: 10px;
    border-radius: 50%;
}

.topics:hover{
    transform: scale(1.07);
}


#title_topic{
    width: auto;
    height: auto;
    background-color: rgb(133, 133, 133);
    color: white;
    text-align: center;
    border: 3px solid #3d3d3d;
    margin: 10px;
}

form#form_topics{
    width: auto;
    height: auto;
    background-color: #d3f4fcc2;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 3px solid #0082A3;
    margin: 10px;
}
form button{
    width: 20vh;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}





#topics_msg{
    overflow-y: auto;
    box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    -webkit-box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    -moz-box-shadow: -43px 12px 32px 11px rgba(0,0,0,0.61);
    transition: transform .2s; /* Animation */


    max-height: 43.4vh;
    width: auto;
    background-color: #d3f4fcc2;
    color: rgb(0, 0, 0);
    border: 3px solid #0082A3;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Afficher le contenu en colonne */
    text-align: center;
}

#topics_msg p{
    padding-inline: 10px;
    padding-top: 0.1%;
}
#topics_msg h4{
    padding-inline: 15px;
}





/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */





/* footer */
footer{
    position: relative;
    background-color: #c5e5ff88;
    overflow: hidden;
    height: 100px;
    display: flex;
    margin-top: 15px;
    margin-bottom: -100px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}


/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */




/* Version mobile */
@media screen and (max-width: 900px) {
    * {
        margin-right: 0px;
    }
    .topnav a {
        font-size: 18px;
    }

    .topnav img{
        width: 5.5rem; /* Animation */
        height: 3rem;
    }

    .topnav {
        position: relative;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #BlockPrincipal {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }

    #block1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5%;
    }

}