html { 
    background: url(https://clan.akamai.steamstatic.com/images/4461458/074479f93a1d47922fddb616f825911719b577e1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Dancing Script', cursive;
}

*{  
    margin: 0px;
    margin-bottom: 1%;
    margin-right: 0px;
} 



/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



/* Couleur du fond */
.topnav {
    position: relative;
    background-color: #0083a365;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s; /* Animation */
}

.topnav img{
    transition: transform .2s; /* Animation */
}
.topnav img:hover{
    transform: scale(1.09);
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



/* Style the links inside the navigation bar */
/* La couleur quand la souris passe dessus */
.topnav a {
    box-shadow: inset 0 0 0 0 #B2D9E3;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    box-shadow: inset 30vmax 0 0 0 #B2D9E3;
    color: white;
}


#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }
  
  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
  }

#nav-img:hover{
    transition: none;
    box-shadow: none;
}

/* Ajouter une couleur quand actif */
.topnav a.active {
  background-color: #04aa6d00;
  color: white;
}


#BlockPrincipal {
    flex-direction: column; /* Afficher les blocs en colonne */
    height: auto; /* Réinitialiser la hauteur */
}

.chat-input {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.chat-input input[type="text"] {
    min-width: 0;
    width: 80%;
    margin-bottom: 5%;
}

button {
    min-width: 30%;
}


/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */


main {
    max-width: 800px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */


/* Version mobile */
@media screen and (max-width: 900px) {
    * {
        margin-right: 0px;
    }
    .topnav a {
        font-size: 18px;
    }

    .topnav img{
        width: 5.5rem; /* Animation */
        height: 3rem;
    }

    .topnav {
        position: relative;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
